# Eagle backup files
Hardware/*.s#*
Hardware/*.b#*
*build
# Eclipse project and workspace files
Packages
Software/.metadata
Software/RemoteSystemsTempFiles
Software/RadioTest
.cproject
.project
.settings
.mxproject



